@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #04152d;
}

::-webkit-scrollbar {
  display: none;
}

.opacity-layer{
  background: linear-gradient(rgba(0,0,0,0), #04152d 50%);
  position: absolute;
  left: 0;
  bottom: 0;
}